body{
    background-color: #e5e5e5;
}

.container{
    width: 80%;
    background-color: #e5e5e5;
    margin: auto;
    height: auto;
}
.leftContent{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    margin: auto;
}
.card{
    list-style: none;
    width: auto;
    height: 100px;
    margin: 30px;
    padding: 10px;
    background-color: #e5e5e5;
    box-shadow: 4px 4px 8px #a5a5a5, -4px -5px 8px #ffffff;
}
ul{
    display: flex;
    flex-wrap: wrap;
    
}


h2,h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: inline-block;
    margin: auto;
    box-shadow: 4px 4px 8px #a9a9a9, -4px -5px 8px #ffffff;
    background-color: #e5e5e5;
    border-radius: 8px;
    width: 47%;
}
.card div{
    display: flex;
    position: relative;
    margin-top: 6px;
    top: 14px;
    height: auto;
    background: #e5e5e5;
    /* box-shadow: 4px 4px 8px #a5a5a5, -4px -5px 8px #ffffff; */
}
.leftContent input,.leftContent select{
    margin: 5px;
    box-shadow: inset 4px 4px 8px #d2d2d2, inset -4px -5px 8px #ffffff;
    height: 21px;
    border-radius: 8px;
    background: #e5e5e5;
}