body{
    background-color: #212121;
}

.container{
    width: 80%;
    background-color: #212121;
    margin: auto;
    height: auto;
}
.leftContent{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    margin: auto;
}
.card{
    list-style: none;
    border-radius: 8px;
    width: auto;
    height: 100px;
    margin: 30px;
    padding: 10px;
    color: white;
    background-color: #171717;
    box-shadow: 4px 4px 20px #000000, -4px -5px 13px #424242;
}
ul{
    display: flex;
    flex-wrap: wrap;
    
}


h2,h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: inline-block;
    margin: auto;
    border: 0px;
    color: wheat;
    box-shadow: 4px 4px 13px #000000, -4px -5px 8px #2d2d2d;
    background-color: #171717;
    border-radius: 8px;
    width: 47%;
}
.card div{
    display: flex;
    position: relative;
    margin-top: 6px;
    top: 14px;
    height: auto;
    background: #212121;
    /* box-shadow: 4px 4px 8px #a5a5a5, -4px -5px 8px #ffffff; */
}
.leftContent input,.leftContent select{
    margin: 5px;
    box-shadow: inset 4px 4px 8px #000000, inset -4px -5px 8px #2c2c2c;
    height: 26px;
    border-radius: 8px;
    background: #212121;
    border: 0px;
    padding: 5px;
    color:wheat;
}