@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

body{
    padding: 0;
    margin: 0;
    background: rgb(233, 233, 233)
}
.side-content{
    height: 400px;
    width: 200px;
    
    display: inline-block;
    float: left;
    margin: 50px 0 0 75px;
    
    
}
.side-content ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.side-content ul li{
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 3px;
    font-size: 27px;
    line-height: 100px;
    border-radius: 10px;
    /* border-color: rgb(255, 255, 255); */
    border: 2px solid #7e7e7e;
    margin: 20px 0 0 0;
    box-shadow: 7px 3px 2px #575757;
    background-color: white;
}
ul :nth-child(4){
    transform: skewY(10deg);
    z-index: 1;
}
ul :nth-child(1){
    transform: skewY(10deg);
    z-index: 1;
}
ul :nth-child(2){
    transform: skewY(-10deg);
    z-index: -1;
}
ul :nth-child(5){
    transform: skewY(-10deg);
    z-index: -1;
}
span{
    display:inline-block;
    float:left;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 6px;
    font-size: 17px;
    
    color: aliceblue;
    margin: 0;
    padding: 8px;
    width:100%;
}
.span-a{
    display:inline-block;
    float:left;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 6px;
    font-size: 17px;
    width: 100%;
    color: rgb(242, 249, 255);
    background: rgb(4, 4, 49);
    margin: 0;
    padding: 8px;
}

.main-content{
    
    height: 400px;
    width: 800px;
    position: absolute;
    left: 30%;
    top:10%;
    display: flex;
    flex-direction: column;
    

}
.main-sub{
    background-color: rgb(4, 4, 49);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.header{
    display: flex;
    flex-direction: row;
    font-family: 'Big Shoulders Text', cursive;
    padding: 10px;
    margin-right: 91px;
    margin-left: 70px;
    position: relative;
    /* left:0px; */
}
.main-sub-a{
    background-color: rgb(208, 208, 255);
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 10px;
}






.bottom-content{
    background: rgb(248, 41, 41);
    height: 50px;
    width: 400px;
    margin-top: 30px;
    border-radius: 20px;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 40px; 
    padding: 10px;
    position: absolute;
    top: 500px;
    left: 600px;


}

a{
    text-decoration: none;
    color: rgb(4, 4, 51);
    text-align: center;
}